body {
  font-family: 'Arial', sans-serif;
}

h1 {
  font-weight: bold;
}

.card {
  border-radius: 10px;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  margin-left: 10px;
}
